<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learning rails</title>
</head>
<body>
   <h1>Articles</h1>  
   <ul>
    <% @articles.each do |article| %>
        <!-- <li><a href="<%= article_path(article) %>"><%= article.title %></a></li> -->
        <% unless article.archived? %>
            <li><%= link_to article.title, article %></li>
        <% end %>
    <% end %>
   </ul>

   <%= link_to "New Article", new_article_path %> 
</body>
</html>